body {
    font-family: Arial, sans-serif;
    background-color: #eeea0e;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    background-color: #42db34;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

#content {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#innerContent {
    background-color: #eeff00;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #c2db34;
    color: white;
}

.btn-primary:hover {
    background-color: #29b948;
}

.btn-success {
    background-color: #2ecc71;
    color: white;
}

.btn-success:hover {
    background-color: #27ae60;
}

.btn-danger {
    background-color: #50e73c;
    color: white;
}

.btn-danger:hover {
    background-color: #c0392b;
}